<% provide(:title, 'New Team') %>
<h1>Create New Team</h1>
<%= simple_form_for(@team) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= render 'shared/team_form', f: f %>
  <div class="submit">
    <%= f.button :submit, :label => "Create Team", class: "btn btn-large btn-primary" %>
  </div>
<% end %>