<% provide(:title, @team.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1><%= @team.name %></h1>
    </section>
    <section>
      <%= render 'shared/team_stats', :team => @team %>
    </section>
    <section>
      <%= render 'show_members', :member_items => @member_items %>
    </section>
    <section>
      <%= render 'shared/join_team_form' if signed_in? %>
    </section>
  </aside>
  <div class="span8">
    
  </div>
</div>