<% if signed_in? %>
  <div class="homeWrapper">
    <div class="userInformation">
      <!-- User Information
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/user_stats' %>
      </section>
    -->
      <%= render 'shared/exercise_form' %>
    </div>
  </div>
<% else %>
  <div class="headWrapper">
    <div class="center signupWrapper">
    	<h1>Welcome</h1>
    	<%= render :template => 'sessions/new'  %>
    </div>
  </div>
  <div class="filler">
    <h2>Info about the features of the site will go here</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla malesuada placerat urna, eget condimentum lectus. Curabitur in orci risus. Aenean id augue purus. Suspendisse sodales tempus metus eu iaculis. Etiam mattis tristique molestie. Sed pretium, lorem sit amet cursus iaculis, urna neque mollis eros, ac rhoncus dui sem in ipsum. In adipiscing sagittis eleifend. Nunc non odio dignissim, luctus ante nec, pretium justo. Praesent lacinia elit non lectus hendrerit blandit. Morbi dapibus et quam vitae ullamcorper. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut vitae aliquam augue.

    Aliquam id lorem libero. Mauris at aliquet libero. Nunc a purus ornare, rhoncus tortor in, faucibus enim. Quisque eleifend a felis vitae posuere. Morbi id turpis metus. Nulla sollicitudin lobortis porttitor. In varius ante ut diam malesuada, ac cursus nibh tincidunt. Cras enim est, ultricies eu scelerisque ut, rhoncus id mauris.
    </p>
  </div>
<% end %>