<% if signed_in? %>
  <div class="homeWrapper">

  </div>
<% else %>
  <div class="headWrapper">
    <div class="center signupWrapper">
    	<h1>Welcome</h1>
    	<%= render :template => 'sessions/new'  %>
    </div>
  </div>
  <div class="filler">
    <h2>Welcome to LogAJog.</h2>
    <p>The site is currently under development. LogAJog is a website built on Ruby on Rails by <a href="http://www.brockallen.me">Brock Allen</a>. It is meant to be a running site dedicated to teams. Development began in December 2013, and is currently ongoing. 
    </p>
    <p>If you do sign up, rest assured the site is secure, and I will not give out or use your information for any purposes. I will never hand your data out to third parties, and until the site launches, I won't even email you.
    </p>
  </div>
<% end %>