<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/user_stats' %>
    </section>
  </aside>
</div>
<div class="row">
  <div class="span12">
    <div id="calendar">
      <script type="text/template" id='calendar-template'>
        <div class="clndr-controls">
          <div class="clndr-previous-button">Previous</div>
          <div class="month"><%%= month %></div>
          <div class="clndr-next-button">Next</div>
        </div>
        <div class="clndr-grid">
          <div class="days-of-the-week clearfix">
            <%% _.each(daysOfTheWeek, function(day) { %>
              <div class="header-day"><%%= day %></div>
            <%% }); %>
          </div>
          <div class="days clearfix">
            <%% _.each(days, function(day) { %>
              <div class="<%%= day.classes %>" id="<%%= day.id %>">
                <span class="day-number"><%%= day.day %></span>
                <%% _.each(day.events, function(day_event) { %>
                  <div class="day-event">
                    <span class="event-type"><%%= day_event.activity %>:</span>
                    <span class="event-duration"> <%%= day_event.duration %>, </span>
                    <span class="event-distance"> <%%= day_event.distance %> </span>
                    <span class="event-unit"><%%= day_event.unit%></span>
                  </div>
                <%% }) %>
              </div>
            <%% }); %>
          </div>
        </div>
      </script>
    </div>
  </div>
</div>