<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/user_stats' %>
    </section>
  </aside>
  <div class="span8">
    <div id="calendar">
      <script type="text/template" id='calendar-template'>
        <div class="clndr-grid">
          <div class="days-of-the-week clearfix">
            <%% _.each(daysOfTheWeek, function(day) { %>
              <div class="header-day"><%%= day %></div>
            <%% }); %>
          </div>
          <div class="days clearfix">
            <%% _.each(days, function(day) { %>
              <div class="<%%= day.classes %>" id="<%%= day.id %>">
                <span class="day-number"><%%= day.day %></span>
              </div>
            <%% }); %>
          </div>
        </div>
      </script>
    </div>
  </div>
</div>

<script>
$('#calendar').clndr({
  template: $('#calendar-template').html()
});
</script>