<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/user_stats' %>
    </section>
  </aside>
  <div class="span8">
    <div id="calendar"></div>
    <div id="event_popup">
      <div class="title"></div>
      <div class="description"></div>
      <div class="comment"></div>
    </div>
  </div>
</div>