<div class="day-event" data-activity="<%%= day_event.activity%>"
                       data-distance="<%%= day_event.distance%>"
                       data-duration="<%%= day_event.duration%>"
                       data-unit="<%%= day_event.unit%>">
  <div class="event-title">
    <%%= day_event.activity %>
    <%% if (day_event.distance != null) { %>
      (<%%= day_event.distance %> <%%= day_event.unit %>)
    <%% } else { %>
      (<%%= day_event.duration %>)
    <%% } %>
  </div>
  <span class="comments">
    <%% if (_.size(day_event.comments) > 0 ) { %>
      <span class="comment-number"><%%= _.size(day_event.comments) %></span>
    <%% } %>
    <i class="fa fa-comment" data-placement="right" data-title="Comments" data-trigger="hover" id="exercise<%%=day_event.id%>"></i>
  </span>
</div>
