<div class="day-event">
  <div class="title">
  <%% if (day_event.title != null) { %>
    <%%= day_event.title %> 
  <%% } else { %>
    <%%= day_event.activity %>
    <%% if (day_event.distance != null) { %>
      (<%%= day_event.distance %> <%%= day_event.unit %>)
    <%% } else { %>
      (<%%= day_event.duration %>)
    <%% } %>
  <%% } %>
  </div>
  <span class="comments">
    <%% if (_.size(day_event.comments) > 0 ) { %>
      <span class="comment-number"><%%= _.size(day_event.comments) %></span>
    <%% } %>
    <i class="fa fa-comment" data-placement="right" data-title="Comments" data-trigger="hover" id="exercise<%%=day_event.id%>"></i>
  </span>
</div>
