<div class="day-event">
  <span class="event-type"><%%= day_event.activity %>:</span>
  <%% if (_.isNull(day_event.distance) == false) { %>
   <span class="event-duration"> <%%= day_event.duration%>,</span>
    <span class="event-distance"><%%= day_event.distance %></span>
    <span class="event-unit"><%%= day_event.unit%></span>
  <%% } else { %>
  <span class="event-duration"> <%%= day_event.duration%></span>
  <%% } %>
</div>