<% @user ||= current_user %>
<div id="teams" class="stat">
  <strong>
    <%= pluralize(@user.teams.count, "team") %>
  </strong>
  <% if @user.teams.count > 0 %>
    <% @user.teams.each do |team| %>
      <strong>
        <%= link_to team.name, team %>
      </strong>
    <% end %>
  <% end %>
</div>