<% @user ||= current_user %>
<div id="teams" class="stat">
  <strong>
    <%= pluralize(@user.teams.count, "team") %>
  </strong>
  <strong>
    <% if @user.teams.count > 0 %>
      <% @user.teams.each do |team| %>
        <%= link_to team.name, team %>
      <% end %>
    <% end %>
  </strong>
</div>