
$grayMediumLight: #eaeaea;
$grayBg: #EDEDE4;
$darkGray: #595956;

/* Adobe Kuler Colors */
$whiteBg: #FFFFF5;
$lightRed: #F34A53;
$lightGreen: #AAC789;
$darkGreen: #437356;
$darkBlue: #1E4147;
$hoverBackground: #9E9E9E;