$primaryOne: #0070FF;
$primaryTwo: #4682b4;
$secondaryOne: #EDEDE4;
$secondaryTwo: #595956;
$eventColor: #B9FF41;

$grayMediumLight: #eaeaea;
$grayMedium: #D4D4D4;
$darkGray: #595956;

/* Adobe Kuler Colors */
$whiteBg: #FFFFF5;
$lightRed: #F34A53;
$darkBlue: #1E4147;
$hoverBackground: #9E9E9E;