
@import "constants.css.scss";

body {
    height: 100%
}

html {
    height: 100%;
    width: 100%;
}
.row {
  margin: 0;
}
input, textarea, select {
  margin: 3px 0 3px 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 4px #d6d6d6;
  box-shadow: 0px 0px 4px #d6d6d6;
  padding: 5px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.btn-large {
  margin: 6px 2px;
  width:30em;
}
.btn-small {
  width:7em;
}
.btn-medium {
  width:10em;
}
.btn {
    background-color: $primaryOne;
    background-image: none;
    border: none;
    box-shadow: none;
    color: $whiteBg;
    font-weight: lighter;
    text-shadow: none;
}

.navbar {
  margin: 0;
  border: none;
  border-width: 0 0 0 0;
}

.navbar-fixed-top {
    background-color: $primaryOne;
    background-image: none;
    min-height: 38px;
}
.pull-right {
  .dropdown:hover .dropdown-menu {
    display:block;
  }
  .dropdown .dropdown-menu {
    margin: 0;
  }
  li {
    display: inline-block;

    .header-bar-title {
      text-shadow: none !important;
      color: white !important;
      &:hover {
        background-color: $primaryOne;
      }
    }
    ul.dropdown-menu {
      color: black;
      .divider {
        width: 80%;
        margin-left: 10%;
        text-decoration:none;
      }
    }
  }
}
.headWrapper {
    background: image-url("running.jpg") no-repeat center center fixed;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height:600px;
}
.containerWrapper {
  height: 100%;
  margin-top: 40px
}

/*
****************************************
          Side Column Styling
****************************************
*/
.asideInformation {
  height: 75%;
  margin-top: 2%;
  padding: 1%;
  overflow-y: scroll;
  section {
    padding: 10px 0;
    border-top: 1px solid $grayMedium;
  }
  img {
    float: left;
    width: 70px;
  }

  .asideInformationHeader {
    text-align: left;

    .stat {
      padding-left: 5px;
    }
  }
}


/*
****************************************
        Sign-up and sign-in pages
****************************************
*/
.signupWrapper {
    background-color: rgba($primaryTwo, .7);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin:0 auto;
    padding: 25px;
    width:400px;

    h1 {
        color: $whiteBg;
        font-family: "Hevetica", sans-serif;
        letter-spacing: 1px;
        margin: 0;
        padding: 10px 0;
        text-shadow: 1px 1px 1px #3D3D3D;
    }

    h2 {
        color: $whiteBg;
        display: inline;
        font-family: "Hevetica", sans-serif;
    }

}

.filler {
    width: 600px;
    margin: 0 auto;
}


.loginWrapper,
.homeWrapper {
    height: 100%;
    overflow: auto;
}

.loginForm {
    border-radius: 4px;

    h1 {
        font-family: "Hevetica", sans-serif;
        letter-spacing: 1px;
        margin: 0;
    }

    label {
        font-weight: bold;
        margin-top: 2px;
    }

    .facebookLogin {
      text-align: center;
      margin-bottom: 10px;
      form {
        margin: 0;
      }

      a {
        color: #ffffff;
        font-size: 16px;
      }
    }

    .userLogin {
      margin-top: 10px;
    }
}

.btn-login {
    background-color: $primaryOne;
    letter-spacing: 1px;
    font-weight: bold;
    width: 50%;
    &:hover {
        background-color: $primaryOne;
    }
}


/*
****************************************
        Styling for Exercise Form
****************************************
*/

.userInfo {
    background-color: $whiteBg;
    border-radius: 4px;
    margin: 40px auto 0 auto;
    padding: 20px;
    width: 600px;
}

.exerciseForm {

    .activityType, 
    .distanceForm, 
    .duration {
        display: inline-block;
        vertical-align: top;
    }
    select {
        margin: 3px 0 3px 0;
        height: 30px;
      }
    .activityType {
        width: 90px;
    }

    .distanceForm {
        margin-left: 10px;
        width: 80px;
    }
    .unit {
      display: inline-block;
      width: 70px;
      margin-left: 5px;
    }
    .pace {
      margin-top:2em;
      display:inline-block;
    }
    .duration {
        width: 180px;

        p {
            margin-right: 8px;
        }
    }

    .controls textarea {
        height: 150px;
    }

    .duration-hours, .duration-minutes, .duration-seconds {
        margin-right: 2px;
        display: inline-block;
        width:30%;
    }

    label {
        color: $primaryTwo;
        font-family: "Hevetica", sans-serif;
        font-size: 16px;
        letter-spacing: 1px;
        margin: 2px 0;
        display: block;
    }
}

/*
****************************************
        Styling for a General Calendar
****************************************
*/
.header-day {
  float: left;
  width: 12.5%;
  border-radius: 5%;
  padding: 14px 0px 14px 0px;
  text-align: center;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  background-color: $secondaryOne;
  border-right: 1px solid;
  border-right-color: $grayMedium;
  border-left: 1px solid;
  border-left-color: $secondaryOne;
  border-bottom: 2px solid;
  border-bottom-color: $primaryOne;
}
.clndr {
  .clndr-controls {
      text-align:center;
      height: 2.5em;
    }
    .btn-group {
      float: left;
    }  
}
.clndr-grid {
  border: 1px solid transparent;
  border-radius: 2px;
}
.event {
  overflow-y:auto;
  .day-event {
    border-radius: 4px;
    border: 1px solid transparent;
    width:100%;
    text-align:left;
    display: inline-block;
    .event-title {
      padding: 0 0 0 3px;
      background-color: $eventColor;
      border: 1px solid transparent;
      border-radius: 3px;
      width: 70%;
      display:inline-block;
    }
  }
  .comments {
    width: 20%;
    display: inline-block;
    float: right;
    vertical-align: top;
    text-align: right;
    margin-right: 2px;
    .comment-number {
      font-size: 0.8em;
      color: $lightRed;
    }

  }
  
    .popover-comment-author {
        opacity: 0.8;
        font-size: 0.9em;
        margin-left: 2em;
    }
  .fa-comment {
    &:hover {
      color: $primaryTwo;
    }
  }
}
.profile_picture {
  -webkit-box-shadow: 0px 0px 8px #d6d6d6;
  box-shadow: 0px 0px 8px #d6d6d6;
  border-radius: 50%;
}
.modal {
  display:none;
}
.white-caret {
  border-top-color: white !important;
  border-bottom-color: white !important;
}
.other-header {
  background-color: rgba($primaryOne, 0.3);
}
.day {
  float: left;
  width: 12.5%;
  border-radius: 5%;
  height: 100px;
  padding: 2px 0 24px 0;
  cursor: pointer;
  overflow-x: hidden;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  border: 1px solid;
  border-color: $grayMedium;
  &:not(.users-total):hover {
    background-color: $secondaryOne;
  }
  .day-header {
    .day-title {
      width:85%;
    }
    .day-number {
      width:15%;
    }
  }
  .day-number {
    display: inline-block;
    padding-left: 5px;
  }
}
.today {
  border-color: $primaryOne;
}
.next-btn {
  display: inline-block;
  width: 3em;
  cursor: pointer;
  text-align: right;
  height: 100%;
  &:hover {
    background-color: $hoverBackground; 
  }
}
.previous-btn {
  display: inline-block;
  width: 3em;
  cursor: pointer;
  height: 100%;
  &:hover {
    background-color: $hoverBackground; 
  }
}
