@import "constants.css.scss";


body {
    padding: 40px 0;
    height: 100%
}

html {
    height: 100%;
    width: 100%;
}

.btn-large {
    margin: 6px 2px;
}

.btn {
    background-color: $darkGreen;
    background-image: none;
    border: none;
    box-shadow: none;
    color: $whiteBg;
    font-weight: lighter;
    text-shadow: none;
}

.navbar .navbar-inner {
    background-color: $whiteBg;
    background-image: none;
}

.headWrapper {
    background: image-url("running_road_bg.jpg") no-repeat center center fixed;
    background-size: 100%;
    border-top: 1px solid rgba(#000000, .9);
    height: 600px;

}


/*
****************************************
        Styling for Exercise Form
****************************************
*/

.userInfo {
    background-color: $whiteBg;
    border-radius: 4px;
    margin: 40px auto 0 auto;
    padding: 20px;
    width: 600px;
}

.exerciseForm {

    .activityType, 
    .distanceForm, 
    .duration {
        display: inline-block;
        text-align: center;
        vertical-align: top;
    }

    .activityType {
        margin-left: 10px;
        width: 90px;
    }

    .distanceForm {
        margin-left: 10px;
        width: 125px;
        .exercise_distance {
            width: 55%;
            display: inline-block;
        }
        .exercise_unit {
            width: 40%;
            display: inline-block;
        }
    }

    .duration {
        float: right;
        margin-left: 15px;
        width: 230px;

        p {
            margin-right: 8px;
        }
    }

    .controls textarea {
        height: 150px;
    }

    .exercise_duration {
        margin-right: 2px;
    }

    label {
        color: $darkGreen;
        font-family: "Hevetica", sans-serif;
        font-size: 18px;
        letter-spacing: 1px;
        margin: 2px 0;
    }
}








