// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "constants.css.scss";

.members {
  .member_name {
    display:inline-block;
  }
  .delete-user {
    background-color: white;
    border: none;
    vertical-align: baseline;
    &:hover {
      color: red;
    }
  }
  .edit_team_user_relationship {
    display:inline-block;
  }
}
h4 {
  opacity:0.7em;
}
body#teams {
  .team-pane {
    background-color: $secondaryOne;
    border-radius: 10px;
  }
  .new_team {
    .team_name {
      text-align: center;
      .controls {
        margin-left: 15px;
      }
      input {
        width: 15em;
      }
    }
    .team_description {
      text-align: center;
      .controls {
        margin-left: 15px;
      }
      textarea {
        width: 25em;
      }
    }
    .submit {
      text-align:center;
      width: 100%;
      input {
        width:10em;
      }
    }
  }
  .new_blog_post {
    width: 80%;
  }
  .team-blog-posts {
    .blog-post {
      border-top: 1px solid $grayMedium;
      .blog-post-body {

      }
      .blog-post-author {
        display: inline-block;
        font-size: 0.8em;
        opacity: 0.8;
        margin-left: 2em;
      }
      .blog-post-delete {
        display: inline-block;
      }
      .blog-post-edit {
        
      }
    }
  }
  .calendar {
    background-color: white;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    position:absolute;
    right: 0;
    margin-top: 1%;
    width: 100%;
    .clndr-info {
      display: none;
    }
    .adjacent-month {
      opacity: 1.0 !important;
    }
    .users-info {
      float: left;
      display: inline-block;
      img {
        border-radius: 50px;
      }
    }
    #calendar-header .clndr {
      width: 100%;
    }
    .calendar-days {
      width: 100%%;
      float: right;
    }
    .other-header {
      background-color: rgba($primaryOne, 0.3);
    }
    .header-day {
      width: 11.111% !important;
    }
    .day {
      width: 11.111% !important;
    }
    .today {
      border-top: none;
    }
  }
}