  // Place all the styles related to the Users controller here.
  // They will automatically be included in application.css.
  // You can use Sass (SCSS) here: http://sass-lang.com/
  @import "constants.css.scss";

  /*********************************
           Calendar Styling 
   ********************************/

  .adjacent-month {
    opacity:0.3;
  }

  .month {
    width: 70%;
    display:inline-block;
    text-align: center;
    font-size: 1.5em;
  }

  /*
  ****************************************
          User Profile Page
  ****************************************
  */
  .userShowWrapper {
    background-color: white;
    height: 100%;
    overflow: auto;
    position: relative;

    .calendar {
      background-color: white;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      box-shadow: 0px 1px 10px rgba(0, 0, 0, .1);

      padding: 2%;
      position:absolute;
      right: 0;
      margin-top: 1%;
      width: 71%;
    }
  }

  .activityFeed {
    margin: 20px 0;
    height: 70%;
    h3 {
      font-size: 20px;
      font-weight: lighter;
    }

    .activity_date {
      color: gray;
      font-size: 12px;
      padding-left: 8px;
      line-height: 10px;

      a {
        margin-left: 12px;
      }
    }

    .exercises {
      list-style: none;
      margin: 0;
    }

    li {
      border-top: 1px solid #D4D4D4;
      padding: 10px 0;
      text-align: left;
    }

    .comment {
      font-size: 11px;
      padding-left: 1em
    }

    .exercise_comment {
      clear: left;
    }

    .duration p {
      display: inline;
      float: left;
      margin-top: 1em;
    }

    .content {
      display: block;
    }

    .timestamp {
      color: $grayMediumLight;
    }

    .activityDelete {

    }
  }

