  // Place all the styles related to the Users controller here.
  // They will automatically be included in application.css.
  // You can use Sass (SCSS) here: http://sass-lang.com/
  @import "constants.css.scss";

  /*********************************
           Calendar Styling 
   ********************************/

  .adjacent-month {
    opacity:0.3;
  }

  .month {
    display:inline-block;
    text-align: center;
    font-size: 1.5em;
    position: absolute;
    left: 0;
    width: 100%;
  }

  /*
  ****************************************
          User Profile Page
  ****************************************
  */
  .new_user {
    text-align: center;
    .new_user_input {
      width: 100%;
      display:block;
      text-align: center;
      input {
        width: 15em;
      }
    }
  }
  .userShowWrapper {
    background-color: white;
    height: 100%;
    overflow: auto;
    position: relative;
    .user-pane {
      background-color: $secondaryOne;
      border-radius:10px;
    }
    .nav {
      li {
        margin-top: 1em;
        z-index: 1000;
      }
    }
    .calendar {
      background-color: white;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      position:absolute;
      margin-top: 1%;
      width: 100%;
    }
    .profile-header {
      display: inline-block;
      z-index:0;
      position: absolute;
      text-align: center;
      top:0;
      width: 100%;
      left: 0;
      .profile_picture {
        display:inline-block;
      }
      h4 {
        display: inline-block;
        margin-left: 5px;
      }
    }
  }

  .activityFeed {
    margin: 20px 0;
    height: 70%;
    h3 {
      font-size: 20px;
      font-weight: lighter;
    }

    .activity_date {
      color: gray;
      font-size: 12px;
      padding-left: 8px;
      line-height: 10px;

      a {
        margin-left: 12px;
      }
    }

    .exercises {
      list-style: none;
      margin: 0;
      padding-left: 0;
    }

    li {
      border-top: 1px solid #D4D4D4;
      padding: 10px 0;
      text-align: left;
    }

    .comment {
      font-size: 11px;
      padding-left: 1em
    }

    .exercise_comment {
      clear: left;
    }

    .duration p {
      display: inline;
      float: left;
      margin-top: 1em;
    }

    .content {
      display: block;
    }

    .timestamp {
      color: $grayMediumLight;
    }

    .activityDelete {

    }
  }

