// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#event_popup {
  display:none;
  .title {
    background-color:#3F3F3F
  }
  .comment {
    font-size:11px;
  }
  .description {
    font-size:13px;
  }
}